# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Ignore all source code and build directories
SSRVPN_Windows/
huigeVPN_Windows/
packages/
third_party/
ssrvpn_new/
SSRVPN_Windows_backup*/
useful/
.dart_tool/
build/
pubspec.lock
pubspec.yaml
*.zip
*.zip.sha256
*.log
